@model NewsUpdateDto
@{
    ViewData["Title"] = "Update";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description"> Basic form layout </p>
            <div class="alert alert-dismissible alert-danger" asp-validation-summary="ModelOnly">
            </div>
            <form method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label asp-for="@Model.newsPostDto.Title"></label>
                    <input asp-for="@Model.newsPostDto.Title" value="@Model.newsGetDto.Title" class="form-control" placeholder="Başlıq mətni...">
                    <span class="text text-danger" asp-validation-for="newsPostDto.Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.newsPostDto.Description"></label>
                    <input asp-for="@Model.newsPostDto.Description" value="@Model.newsGetDto.Description" class="form-control" placeholder="Açıqlama...">
                    <span class="text text-danger" asp-validation-for="newsPostDto.Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.newsPostDto.formFile">Şəkil</label>
                    <input asp-for="@Model.newsPostDto.formFile" accept="image/*" class="form-control" placeholder="Haqqımızda mətni...">
                    <span class="text text-danger" asp-validation-for="newsPostDto.formFile"></span>

                </div>
                <input hidden asp-for="@Model.newsGetDto.Id" value="@Model.newsGetDto.Id" />
                <button type="submit" class="btn btn-success mr-2">Yadda saxla</button>
                <button class="btn btn-dark" asp-action="Index">Geri</button>
            </form>
            <div class="mt-2">
                <img style="height:250px; width:250px;" src="~/assets/images/@Model.newsGetDto.Image" alt="Haqqında_Şəkil" />
            </div>
        </div>
    </div>
</div>


